/* Blue lines */
.blue-line {
    fill: #ebebeb;
}

/* Goal crease */
rect.red-line {
    fill: #ccc;
}

/* Face off dots */
circle.red-line {
    fill: #ebebeb;
}

/* Face off circles */
.red-faceoff {
    stroke: #ccc;
}

/* Use d3.js to draw a full rink-face instead */
.rink-face {
    display: none;
}

/* Goal crease area */
.goal-crease {
    fill: none;
    stroke: #ccc;
}

.center-line {
    fill: #ebebeb;
}

/* Center ice face off circle */
.neutral-faceoff {
    stroke: #ccc;
}

.danger-line {
    stroke: gray;
}