body {
	font-family: Roboto, san-serif;
	font-size: 12px;
}

svg {
	margin: 20px;
	font-family: Roboto, san-serif;
	font-size: 12px;
}

svg.timeline {
	margin: 0;
}

/*
*
* Rink
*
*/

g.marker text {
	alignment-baseline: middle;
	text-anchor: middle;
}

g.marker circle {
	fill: none;
	stroke: black;
}

path.skater {
	fill: none;
}

g.player g.marker text {
	font-weight: 700;
}

	g.player.blue g.marker text {
		fill: blue;
	}

	g.player.red g.marker text {
		fill: red;
	}

g.player.blue path.skater {
	stroke: lightskyblue;
}

g.player.blue text.waypoint {
	fill: lightskyblue;
}

g.player.red path.skater {
	stroke: pink;
}

g.player.red text.waypoint {
	fill: pink;
}



text.waypoint {
	font-size: 10;
	text-anchor: middle;
	alignment-baseline: middle;

}
#picker-marker {
	fill: gold;
}

#picker-mask {
	fill: black;
}


/*
*
* Timeline
*
*/

.cell {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	padding-bottom: 16px;
	margin: 0;
}

.timeline.cell {
	padding: 0;
}
.player-id.cell {
	width: 30px;
}

.colour.cell, .label.cell {
	width: 50px;
}


circle.active {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

line.baseline {
	stroke: #ddd;
}

circle.timepoint {
	fill: white; /* Need a fill so that it's clickable */
	stroke: #bbb;
}

	circle.timepoint:hover {
		stroke: #777;
	}

circle.waypoint {
	fill: #aaa;
}

	circle.waypoint:hover {
		fill: #777;
	}

.button.delete {
	cursor: pointer;
}

	.button.delete rect {
		fill: pink;
	}

	.button.delete text {
		text-anchor: middle;
		alignment-baseline: middle;
		font-size: 10px;
		fill: firebrick;
		font-weight: 700;
	}

	.button.delete:hover rect {
		fill: lightpink;
	}

	.button.delete:hover text {
		fill: darkred;
	}

