html {
	width: 100%;
	padding: 0 10px;
	margin: 0;
}

body {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 30px;
	color: #111;
	font-family: Roboto, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 20px;
}

p {
	line-height: 20px;
	margin: 0;
	margin-bottom: 5px;
}

svg, #table {
	font-family: Roboto, sans-serif;
	font-size: 12px;
	line-height: 12px;
}

#table {
	margin-bottom: 30px;
}

#rink-svg {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* Disable highlighting so it doesn't show up while the user is clicking */
div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*
*
* Rink elements
*
*/

g.marker text {
	text-anchor: middle;
}

g.marker circle {
	fill: none;
	stroke: #111;
}

path.skater {
	fill: none;
}

g.player g.marker text {
	font-weight: 500;
}

	g.player.blue g.marker text {
		fill: blue;
	}

	g.player.red g.marker text {
		fill: red;
	}

text.timepoint {
	font-size: 10px;
	text-anchor: middle;
	dominant-baseline: middle;
	fill: #bbb;
}

	g.player.blue text.timepoint {
		fill: lightskyblue;
	}

	g.player.red text.timepoint {
		fill: pink;
	}

	#puck text.timepoint {
		fill: #aaa;
	}

g.player path.skater {
	stroke-opacity: 0.5;
}

	g.player.blue path.skater {
		stroke: lightskyblue;
	}

	g.player.red path.skater {
		stroke: pink;
	}

#picker-mask {
	fill: white; /* Need a fill to detect mouse events */
	fill-opacity: 0;
}
	#picker-mask.active {
		stroke: gold;
		cursor: crosshair;
	}

#puck circle {
	fill: #111;
	r: 3;
}

#puck line {
	stroke: #111;
	stroke-dasharray: 2,2;
}

/*
*
* Timeline elements
*
*/

.puck.row {
	margin-bottom: 10px;
}

text.label {
	font-size: 12px;
	text-anchor: middle;
	dominant-baseline: middle;
	fill: #bbb;
}

.cell {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

	.cell.label {
		width: 40px;
		margin-right: 10px;
	}

		.puck.row .cell.label {
			padding-top: 9px; /* To vertically align label with timeline */
		}

		.player.row .cell.label {
			padding-bottom: 18px;
		}

	.cell.colour-picker {
		margin-right: 20px;
	}


input[type=text] {
	margin: 0;
	margin-top: 4px;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	font-size: 12px;
	padding-bottom: 4px;
}

	input[type=text]:focus {
		outline: none;
		border-bottom: 2px solid #aaa;
		padding-bottom: 3px;
	}

line.baseline {
	stroke: #ddd;
}

circle.colour-picker {
	cursor: pointer;
	fill-opacity: 0.2;
	stroke-opacity: 0.5;
}

	circle.colour-picker.red {
		fill: red;
		stroke: red;
	}

	circle.colour-picker.blue {
		fill: blue;
		stroke: blue;
	}

	circle.colour-picker:hover {
		fill-opacity: 0.4;
	}

circle.highlight {
	fill: #ffef99;
	stroke-width: 2;
	stroke: gold;
}

circle.timepoint {
	fill: white; /* Need a fill so that it's clickable */
	stroke: #ccc;
	cursor: pointer;
}

	circle.timepoint:hover {
		fill: #eee;
		stroke: #111;
	}

	circle.timepoint.defined {
		fill: #ccc;
		stroke: #777;
		cursor: -webkit-grab;
		cursor: -moz-grab;
		cursor: grab;
	}

	circle.timepoint.defined:hover {
		fill: #aaa;
		stroke: #111;
	}

	#drag-point {
		fill: gold;
		fill-opacity: 0.5;
		cursor: -webkit-grabbing;
		cursor: -moz-grabbing;
		cursor: grabbing;
	}

text.carrier {
	font-size: 10px;
	dominant-baseline: middle;
}

#thumb {
	stroke: gold;
}

.button.delete {
	cursor: pointer;
}
	.button.delete rect {
		/*fill: #ffd9e0; */
		fill: #ffef99;
	}
	.button.delete text {
		text-anchor: middle;
		font-size: 10px;
		/*fill: darkred;*/
		fill: #111;
		font-weight: 400;
	}
	.button.delete:hover rect {
		/*fill: pink;*/
		fill: gold;
	}


.button.carrier, #play, #paths {
	background: #ffef99;
	color: #111;
	border-radius: 2px;
	cursor: pointer;
	margin-top: 4px;
	margin-bottom: 3px;
	padding: 3px;
}

	.button.carrier:hover , #play:hover, #paths:hover {
		background: gold;
	}

#play, #paths {
	display: inline-block;
	text-decoration: none;
	margin: 0;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 30px;
	width: 100px;
	padding: 0;
	text-align: center;
	line-height: 28px;
}

#paths {
	display: none;
}

#message {
	display: inline-block;
	text-align: center;
	margin: 0;
	width: 720px;
	line-height: 28px;
}

/*
*
* Rink styling
*
*/

/* Blue lines */
.blue-line {
    fill: #ebebeb;
}

/* Goal crease */
rect.red-line {
    fill: #ccc;
}

/* Face off dots */
circle.red-line {
    fill: #ebebeb;
}

/* Face off circles */
.red-faceoff {
    stroke: #ccc;
}

/* Use d3.js to draw a full rink-face instead */
.rink-face {
    display: none;
}

/* Goal crease area */
.goal-crease {
    fill: none;
    stroke: #ccc;
}

.center-line {
    fill: #ebebeb;
}

/* Center ice face off circle */
.neutral-faceoff {
    stroke: #ccc;
}

path.net {
	fill: none;
	stroke: #777;
}